/xdg-desktop-portal-gnome-hyprmix/src
/xdg-desktop-portal-gnome-hyprmix/xdg-desktop-portal-gnome-47.1-2-x86_64.pkg.tar.zst
/xdg-desktop-portal-gnome-hyprmix/xdg-desktop-portal-gnome-debug-47.1-2-x86_64.pkg.tar.zst
/xdg-desktop-portal-gnome-hyprmix/xdg-desktop-portal-gnome
/xdg-desktop-portal-gnome-hyprmix/.SRCINFO
